.to-do-app-lists {
    display: flex;
    flex-wrap: wrap;
}

.to-do-app-lists.small {
  justify-content: center;
}

.to-do-app {
    display: flex;
    /* padding-left: 40px; */
    position: relative;
}