.to-do-app-lists {
    display: flex;
    flex-wrap: wrap;
}

.to-do-app-lists.small {
  justify-content: center;
}

.to-do-app {
    display: flex;
    /* padding-left: 40px; */
    position: relative;
}
.todo-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.content {
  box-sizing: border-box;
  width: 100%;
  padding: 0 16px;
}
.to-do-sign-up {
  margin-left: 16px;
}
.to-do-add-list {
  margin-bottom: 16px;
}
