.to-do-header {
    background-color: #ffffff;
    padding: 16px 24px;
    padding-left: 48px;
    width: 100%;
    box-sizing: border-box;
}

.to-do-header.small {
  width: 320px;
  box-sizing: border-box;
  padding-right: 0;
  padding-left: 48px;
}
